<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConStr1" connectionString="server=(local);database=University;integrated security=true"/>
    <add name="ConStr2" connectionString ="server=192.168.12.1;database=University; Id=ali;Password=12345"/>
    <add name="ConStr3" connectionString="provider=microsoft.jet.oledb.4.0;data source=c:\university.mdb"/>
    <add name="ConStr4" connectionString ="server=.\SQLExpress;AttachDbFilename=c:\MyFolder\University.mdf;database=University;Trusted_Connection=Yes"/>
  </connectionStrings>
</configuration>